<!DOCTYPE html>
<html> 
    <head>
        <style>
            th,td {
                border : 1px black solid;
            }
        </style>
    </head>
	<body>
		<h1>User Detail Page</h1>
		{% if user  %}
			<table>
             <tr>
                <th>id</th>
                <th>Name</th> 
                <th>Email</th> 
                <th>Comment</th>
            </tr>
			
                <tr>
                    <td>{{user.id}}</td> 
                    <td>{{user.name}}</td> 
                    <td>{{user.email}}</td> 
                    <td>{{user.comment}}</td> 
                </tr>
			
            </table>
		{% else %}
			<h1>No Data</h1>
		{% endif %}

        <a href="{% url 'home' %}">Back to Home page!</a>

	</body>
</html>

