<!DOCTYPE html>
<html> 
    <head>
		<h1>DB Information</h1>
        <style>
			table,th,td,tr
			{
			border: 1px black solid;
			}
		</style>
    </head>
	<body>
		<table>
			<th>Name</th>
			<th>City</th>
			
			{% for con in examcenter %}
			<tr>
				<td>{{con.cname}}</td>
				<td>{{con.city}}</td
			</tr>
			{% endfor %}
		</table>   
		<table>
			<th>Name</th>
			<th>City</th>
			
			{% for con in myexamcenter %}
			<tr>
				<td>{{con.cname}}</td>
				<td>{{con.city}}</td
			</tr>
			{% endfor %}
		</table> 
	</body>
</html>

